.Button {
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 12px;
    padding: 1rem;
    margin: 1rem;
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    box-shadow: 0 2px 6px rgba(0,0,0, 0.1);
    color: white;
    transition: all 0.3s ease;
}

.Button:disabled {
    opacity: 0.7;
    cursor: not-allowed;
    filter: grayscale(0.5);
}

.Button:hover {
    transform: translateY(-2px);
    box-shadow: 0 3px 6px rgba(255, 255, 255, 0.15);
}